<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Hotel</title>
  <link href="/css/home.css" rel="stylesheet" type="text/css">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>

<body>

  <div class="main_div">
    <div class="header">
      <button class="home_btn" >Home</button>

      <button class="sign_up_btn", onclick = "location.href='http://localhost:4000/register/l';">Register</button>
      <button class="login_btn", onclick = "location.href='http://localhost:4000/login/get';">Login</button>
    </div>


  </div>
</body>

</html>
<!-- http://localhost:4000/login/get -->
<!-- http://localhost:4000/register/l -->
