<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Register</title>
  <link href="/css/register.css" rel="stylesheet" type="text/css">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>

<body>
  <form  class= "signup_form" method="POST" action="signup" style="border:1px solid #ccc">
    <div class="container">
      <div class="header">
        <h1>Sign Up</h1>
        <button class="home_btn", onclick="location.href='http://localhost:4000/home';">Home</button></div>
      <p>Please fill in this form to create an account.</p>
      <hr>

      <label for="fistname"><b>First Name</b></label>
      <input type="text" placeholder="Enter Your Name" name="first_name" required>

      <label for="lastname"><b>Last Name</b></label>
      <input type="text" placeholder="Enter Last Name " name="last_name" required>

      <label for="username "><b>User Name</b></label>
      <input type="text" placeholder="Enter Last Name " name="username" required>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
      <label for="psw"><b>re_password</b></label>
      <input type="re_password" placeholder="Enter Password" name="re_psw" required>
      <div class="clearfix">
        <button type="submit" class="signupbtn">Sign Up</button>
        <button type="button" class="cancelbtn">Cancel</button>
      </div>
    </div>
  </form>
</body>

</html>
